stages:
  - build
  - test
  - deploy

build_frontend:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  before_script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build \
        --tag go-client \
        --tag $CI_REGISTRY_IMAGE/client:$CI_COMMIT_REF_NAME \
        --tag $CI_REGISTRY_IMAGE/client:latest \
        ./client
    - docker push $CI_REGISTRY_IMAGE/client:$CI_COMMIT_REF_NAME
    - if [ $CI_COMMIT_REF_NAME = 'master' ]; then
        docker push $CI_REGISTRY_IMAGE/client:latest
      fi


test_frontend:
  stage: test
  image: node:alpine
  script:
    - cd client
    - npm install
    - ./node_modules/.bin/jest --ci --coverage --colors

lint_frontend:
  stage: test
  image: node:alpine
  script:
    - echo 'kek'
