stages:
  - build
  - test
  - deploy

test_frontend:
  stage: test
  image: node:alpine
  script:
    - cd client
    - npm install
    - ./node_modules/.bin/jest --ci --coverage --colors

lint_frontend:
  stage: test
  image: node:alpine
  script:
    - echo 'kek'
