stages:
  - build
  - test
  - deploy

variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2

.export_docker_tag: &export_docker_tag |
  if [[ $CI_BUILD_REF_NAME == "master" ]]; then
    export DOCKER_TAG=latest;
  else
    export DOCKER_TAG="${CI_BUILD_REF_NAME}";
  fi

before_script:
  - *export_docker_tag

build_frontend:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build
        --tag client
        --tag $CI_REGISTRY_IMAGE/client:$DOCKER_TAG
        ./client
    - docker push $CI_REGISTRY_IMAGE/client:$DOCKER_TAG;

build_backend:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build
        --tag server
        --tag $CI_REGISTRY_IMAGE/server:$DOCKER_TAG
        ./server
    - docker push $CI_REGISTRY_IMAGE/server:$DOCKER_TAG;


build_https:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build
        --tag https
        --tag $CI_REGISTRY_IMAGE/https:$DOCKER_TAG
        ./https
    - docker push $CI_REGISTRY_IMAGE/https:$DOCKER_TAG;

test_frontend:
  stage: test
  image: node:alpine
  script:
    - cd client
    - npm install
    - ./node_modules/.bin/jest --ci --coverage --colors

lint_frontend:
  stage: test
  image: node:alpine
  script:
    - cd client
    - npm install
    - ./node_modules/.bin/eslint src

lint_backend:
  stage: test
  image: $CI_REGISTRY_IMAGE/server:$DOCKER_TAG
  script:
    - mypy ./server
    - pylint ./server


test_backend:
  stage: test
  image: $CI_REGISTRY_IMAGE/server:$DOCKER_TAG
  script:
    - py.test

deploy:
  stage: deploy
  only:
    - master
  image: alpine:latest
  script:
    - apk add curl
    - curl --silent --user $CI_REDEPLOY_USER:$CI_REDEPLOY_PASSWORD --max-time 900 $CI_REDEPLOY_URL
