stages:
  - build
  - test
  - deploy

variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2

build_frontend:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build
        --tag client
        --tag $CI_REGISTRY_IMAGE/client:$CI_COMMIT_REF_NAME
        --tag $CI_REGISTRY_IMAGE/client:latest
        ./client
    - docker push $CI_REGISTRY_IMAGE/client:$CI_COMMIT_REF_NAME
    - if [ $CI_COMMIT_REF_NAME = "master" ]; then
        docker push $CI_REGISTRY_IMAGE/client:latest;
      fi

build_backend:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build
        --tag server
        --tag $CI_REGISTRY_IMAGE/server:$CI_COMMIT_REF_NAME
        --tag $CI_REGISTRY_IMAGE/server:latest
        ./server
    - docker push $CI_REGISTRY_IMAGE/server:$CI_COMMIT_REF_NAME
    - if [ $CI_COMMIT_REF_NAME = "master" ]; then
        docker push $CI_REGISTRY_IMAGE/server:latest;
      fi


build_https:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build
        --tag https
        --tag $CI_REGISTRY_IMAGE/https:$CI_COMMIT_REF_NAME
        --tag $CI_REGISTRY_IMAGE/https:latest
        ./https
    - docker push $CI_REGISTRY_IMAGE/https:$CI_COMMIT_REF_NAME
    - if [ $CI_COMMIT_REF_NAME = "master" ]; then
        docker push $CI_REGISTRY_IMAGE/https:latest;
      fi

test_frontend:
  stage: test
  image: node:alpine
  script:
    - cd client
    - npm install
    - ./node_modules/.bin/jest --ci --coverage --colors

lint_frontend:
  stage: test
  image: node:alpine
  script:
    - cd client
    - npm install
    - ./node_modules/.bin/eslint src
