version: '2.1'
services:
  frontend_nginx:
    build: ./client
    ports:
      - "80:80"
  backend:
    build: ./server
    ports:
      - "82:80"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./server:/app
  postgres:
    image: "postgres:10"
    environment:
      POSTGRES_USER: go_user
      POSTGRES_PASSWORD: go_password
      POSTGRES_DB: go
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U go_user"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - /srv/quick_go:/var/lib/postgresql/data
