version: '2.1'
services:
  https:
    build: ./https
    restart: always
    environment:
      CERTBOT_EMAIL: "and-semakin@ya.ru"
    ports:
      - "80:80"
      - "8443:443"
  frontend_nginx:
    build: ./client
  backend:
    build: ./server
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: "postgres:10"
    environment:
      POSTGRES_USER: go_user
      POSTGRES_PASSWORD: go_password
      POSTGRES_DB: go
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U go_user"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - /srv/quick_go:/var/lib/postgresql/data
