[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pylint = "==2.1.1"
aiopg = {extras = ["sa"]}
sqlalchemy = "*"
aiohttp = "*"
trafaret-config = "*"
alembic = "*"

[dev-packages]
aiohttp-devtools = "*"

[requires]
python_version = "3.6"
