.Game {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.GameGoban {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons > button {
    margin: 5px;
}