.goban-point {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 168, 86);
    z-index: 1;
}

.goban-point-emptiness {
    margin: 2px auto;
    width: 46px;
    height: 46px;
}

.goban-point-emptiness.empty-white:hover {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.goban-point-emptiness.empty-black:hover {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.goban-point::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    border-top: 1px solid black;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.goban-point::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 25px;
    border-left: 1px solid black;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.goban-point-top-row::after {
    top: 25px;
    z-index: -1;
}

.goban-point-bottom-row::after {
    height: 50%;
    z-index: -1;
}

.goban-point-left-column::before {
    left: 25px;
    z-index: -1;
}

.goban-point-right-column::before {
    width: 50%;
    z-index: -1;
}

.goban-point-right-column.goban-point-bottom-row::before {
    /* left: -24px; */
    z-index: -1;
}

.star {
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}