.goban-stone {
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    background: black;
    z-index: 10;
}

.goban-stone.white {
    background: white;
}

.recent {
    border: 2px solid white;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: relative;
    top: 9px;
    left: 9px;
}

.white > .recent {
    border: 2px solid black;
}